/**
  * cals-cottonapp-production : @calsnetlab
  * version 2.0
  *     optimized for PhoneGap 3.4
  */
/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* { -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection */ }
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}
﻿html { background-color: #193441; }
/* PRETTY PHOTO (min-used) */
div.pp_default .pp_top,div.pp_default .pp_top .pp_middle,div.pp_default .pp_top .pp_left,div.pp_default .pp_top .pp_right,div.pp_default .pp_bottom,div.pp_default .pp_bottom .pp_left,div.pp_default .pp_bottom .pp_middle,div.pp_default .pp_bottom .pp_right{height:13px}
div.pp_default .pp_top .pp_left{background:url(../images/prettyPhoto/default/sprite.png) -78px -93px no-repeat}
div.pp_default .pp_top .pp_middle{background:url(../images/prettyPhoto/default/sprite_x.png) top left repeat-x}
div.pp_default .pp_top .pp_right{background:url(../images/prettyPhoto/default/sprite.png) -112px -93px no-repeat}
div.pp_default .pp_content .ppt{color:#f8f8f8}
div.pp_default .pp_content_container .pp_left{background:url(../images/prettyPhoto/default/sprite_y.png) -7px 0 repeat-y;padding-left:13px}
div.pp_default .pp_content_container .pp_right{background:url(../images/prettyPhoto/default/sprite_y.png) top right repeat-y;padding-right:13px}
div.pp_default .pp_next:hover{background:url(../images/prettyPhoto/default/sprite_next.png) center right no-repeat;cursor:pointer}
div.pp_default .pp_previous:hover{background:url(../images/prettyPhoto/default/sprite_prev.png) center left no-repeat;cursor:pointer}
div.pp_default .pp_expand{background:url(../images/prettyPhoto/default/sprite.png) 0 -29px no-repeat;cursor:pointer;width:28px;height:28px}
div.pp_default .pp_expand:hover{background:url(../images/prettyPhoto/default/sprite.png) 0 -56px no-repeat;cursor:pointer}
div.pp_default .pp_contract{background:url(../images/prettyPhoto/default/sprite.png) 0 -84px no-repeat;cursor:pointer;width:28px;height:28px}
div.pp_default .pp_contract:hover{background:url(../images/prettyPhoto/default/sprite.png) 0 -113px no-repeat;cursor:pointer}
div.pp_default .pp_close{width:30px;height:30px;background:url(../images/prettyPhoto/default/sprite.png) 2px 1px no-repeat;cursor:pointer}
div.pp_default .pp_gallery ul li a{background:url(../images/prettyPhoto/default/default_thumb.png) center center #f8f8f8;border:1px solid #aaa}
div.pp_default .pp_social{margin-top:7px}
div.pp_default .pp_gallery a.pp_arrow_previous,div.pp_default .pp_gallery a.pp_arrow_next{position:static;left:auto}
div.pp_default .pp_nav .pp_play,div.pp_default .pp_nav .pp_pause{background:url(../images/prettyPhoto/default/sprite.png) -51px 1px no-repeat;height:30px;width:30px}
div.pp_default .pp_nav .pp_pause{background-position:-51px -29px}
div.pp_default a.pp_arrow_previous,div.pp_default a.pp_arrow_next{background:url(../images/prettyPhoto/default/sprite.png) -31px -3px no-repeat;height:20px;width:20px;margin:4px 0 0}
div.pp_default a.pp_arrow_next{left:52px;background-position:-82px -3px}
div.pp_default .pp_content_container .pp_details{margin-top:5px}
div.pp_default .pp_nav{clear:none;height:30px;width:110px;position:relative}
div.pp_default .pp_nav .currentTextHolder{font-family:Georgia;font-style:italic;color:#999;font-size:11px;left:75px;line-height:25px;position:absolute;top:2px;margin:0;padding:0 0 0 10px}
div.pp_default .pp_close:hover,div.pp_default .pp_nav .pp_play:hover,div.pp_default .pp_nav .pp_pause:hover,div.pp_default .pp_arrow_next:hover,div.pp_default .pp_arrow_previous:hover{opacity:0.7}
div.pp_default .pp_description{font-size:11px;font-weight:700;line-height:14px;margin:5px 50px 5px 0}
div.pp_default .pp_bottom .pp_left{background:url(../images/prettyPhoto/default/sprite.png) -78px -127px no-repeat}
div.pp_default .pp_bottom .pp_middle{background:url(../images/prettyPhoto/default/sprite_x.png) bottom left repeat-x}
div.pp_default .pp_bottom .pp_right{background:url(../images/prettyPhoto/default/sprite.png) -112px -127px no-repeat}
div.pp_default .pp_loaderIcon{background:url(../images/prettyPhoto/default/loader.gif) center center no-repeat}

div.pp_pic_holder a:focus{outline:none}
div.pp_overlay{background:#000;display:none;left:0;position:absolute;top:0;width:100%;z-index:9500}
div.pp_pic_holder{display:none;position:absolute;width:100px;z-index:10000}
.pp_content{height:40px;min-width:40px}
* html .pp_content{width:40px}
.pp_content_container{position:relative;text-align:left;width:100%}
.pp_content_container .pp_left{padding-left:20px}
.pp_content_container .pp_right{padding-right:20px}
.pp_content_container .pp_details{float:left;margin:10px 0 2px}
.pp_description{display:none;margin:0}
.pp_social{float:left;margin:0}
.pp_social .facebook{float:left;margin-left:5px;width:55px;overflow:hidden}
.pp_social .twitter{float:left}
.pp_nav{clear:right;float:left;margin:3px 10px 0 0}
.pp_nav p{float:left;white-space:nowrap;margin:2px 4px}
.pp_nav .pp_play,.pp_nav .pp_pause{float:left;margin-right:4px;text-indent:-10000px}
a.pp_arrow_previous,a.pp_arrow_next{display:block;float:left;height:15px;margin-top:3px;overflow:hidden;text-indent:-10000px;width:14px}
.pp_hoverContainer{position:absolute;top:0;width:100%;z-index:2000}
.pp_gallery{display:none;left:50%;margin-top:-50px;position:absolute;z-index:10000}
.pp_gallery div{float:left;overflow:hidden;position:relative}
.pp_gallery ul{float:left;height:35px;position:relative;white-space:nowrap;margin:0 0 0 5px;padding:0}
.pp_gallery ul a{border:1px rgba(0,0,0,0.5) solid;display:block;float:left;height:33px;overflow:hidden}
.pp_gallery ul a img{border:0}
.pp_gallery li{display:block;float:left;margin:0 5px 0 0;padding:0}
.pp_gallery li.default a{background:url(../images/prettyPhoto/facebook/default_thumbnail.gif) 0 0 no-repeat;display:block;height:33px;width:50px}
.pp_gallery .pp_arrow_previous,.pp_gallery .pp_arrow_next{margin-top:7px!important}
a.pp_next{background:url(../images/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;display:block;float:right;height:100%;text-indent:-10000px;width:49%}
a.pp_previous{background:url(../images/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;display:block;float:left;height:100%;text-indent:-10000px;width:49%}
a.pp_expand,a.pp_contract{cursor:pointer;display:none;height:20px;position:absolute;right:30px;text-indent:-10000px;top:10px;width:20px;z-index:20000}
a.pp_close{position:absolute;right:0;top:0;display:block;line-height:22px;text-indent:-10000px}
.pp_loaderIcon{display:block;height:24px;left:50%;position:absolute;top:50%;width:24px;margin:-12px 0 0 -12px}
#pp_full_res{line-height:1!important}
#pp_full_res .pp_inline{text-align:left}
#pp_full_res .pp_inline p{margin:0 0 15px}
div.ppt{color:#fff;display:none;font-size:17px;z-index:9999;margin:0 0 5px 15px}
div.pp_default .pp_content,div.light_rounded .pp_content{background-color:#fff}
div.pp_default #pp_full_res .pp_inline,div.light_rounded .pp_content .ppt,div.light_rounded #pp_full_res .pp_inline,div.light_square .pp_content .ppt,div.light_square #pp_full_res .pp_inline,div.facebook .pp_content .ppt,div.facebook #pp_full_res .pp_inline{color:#000}
div.pp_default .pp_gallery ul li a:hover,div.pp_default .pp_gallery ul li.selected a,.pp_gallery ul a:hover,.pp_gallery li.selected a{border-color:#fff}
div.pp_default .pp_details,div.light_rounded .pp_details,div.dark_rounded .pp_details,div.dark_square .pp_details,div.light_square .pp_details,div.facebook .pp_details{position:relative}
div.light_rounded .pp_top .pp_middle,div.light_rounded .pp_content_container .pp_left,div.light_rounded .pp_content_container .pp_right,div.light_rounded .pp_bottom .pp_middle,div.light_square .pp_left,div.light_square .pp_middle,div.light_square .pp_right,div.light_square .pp_content,div.facebook .pp_content{background:#fff}
div.light_rounded .pp_description,div.light_square .pp_description{margin-right:85px}
div.light_rounded .pp_gallery a.pp_arrow_previous,div.light_rounded .pp_gallery a.pp_arrow_next,div.dark_rounded .pp_gallery a.pp_arrow_previous,div.dark_rounded .pp_gallery a.pp_arrow_next,div.dark_square .pp_gallery a.pp_arrow_previous,div.dark_square .pp_gallery a.pp_arrow_next,div.light_square .pp_gallery a.pp_arrow_previous,div.light_square .pp_gallery a.pp_arrow_next{margin-top:12px!important}
div.light_rounded .pp_arrow_previous.disabled,div.dark_rounded .pp_arrow_previous.disabled,div.dark_square .pp_arrow_previous.disabled,div.light_square .pp_arrow_previous.disabled{background-position:0 -87px;cursor:default}
div.light_rounded .pp_arrow_next.disabled,div.dark_rounded .pp_arrow_next.disabled,div.dark_square .pp_arrow_next.disabled,div.light_square .pp_arrow_next.disabled{background-position:-22px -87px;cursor:default}
div.light_rounded .pp_loaderIcon,div.light_square .pp_loaderIcon{background:url(../images/prettyPhoto/light_rounded/loader.gif) center center no-repeat}
div.dark_rounded .pp_top .pp_middle,div.dark_rounded .pp_content,div.dark_rounded .pp_bottom .pp_middle{background:url(../images/prettyPhoto/dark_rounded/contentPattern.png) top left repeat}
div.dark_rounded .currentTextHolder,div.dark_square .currentTextHolder{color:#c4c4c4}
div.dark_rounded #pp_full_res .pp_inline,div.dark_square #pp_full_res .pp_inline{color:#fff}
.pp_top,.pp_bottom{height:20px;position:relative}
* html .pp_top,* html .pp_bottom{padding:0 20px}
.pp_top .pp_left,.pp_bottom .pp_left{height:20px;left:0;position:absolute;width:20px}
.pp_top .pp_middle,.pp_bottom .pp_middle{height:20px;left:20px;position:absolute;right:20px}
* html .pp_top .pp_middle,* html .pp_bottom .pp_middle{left:0;position:static}
.pp_top .pp_right,.pp_bottom .pp_right{height:20px;left:auto;position:absolute;right:0;top:0;width:20px}
.pp_fade,.pp_gallery li.default a img{display:none}

/* UA Web Branding (min used) */

#ua-web-branding-banner-v1 *,.ua-web-branding-banner-v1 * {margin:0; padding: 0;-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
html, body #ua-web-branding-banner-v1, body .ua-web-branding-banner-v1 {overflow-x: hidden;}
#ua-web-branding-banner-v1 .ua-container, .ua-web-branding-banner-v1 .ua-container {max-width:1200px;margin: 0 auto;-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;position:relative;}
#ua-web-branding-banner-v1 .ua-wrapper, .ua-web-branding-banner-v1 .ua-wrapper {position:relative;}

#ua-web-branding-banner-v1 .ua-wrapper:before,
#ua-web-branding-banner-v1 .ua-wrapper:after,
.ua-web-branding-banner-v1 .ua-wrapper:before,
.ua-web-branding-banner-v1 .ua-wrapper:after {content: "";width:4000px;position:absolute;z-index:-5;}

      #ua-web-branding-banner-v1 .ua-wrapper:before,
      #ua-web-branding-banner-v1 .ua-wrapper:after,
      #ua-web-branding-banner-v1 .ua-wrapper,
      .ua-web-branding-banner-v1 .ua-wrapper:before,
      .ua-web-branding-banner-v1 .ua-wrapper:after,
      .ua-web-branding-banner-v1 .ua-wrapper {-webkit-background-size: 100% 42px;-moz-background-size: 100% 42px;background-size: 100% 42px; /* IE6-8 */}
        
      #ua-web-branding-banner-v1.ua-wrapper:after,
      .ua-web-branding-banner-v1.ua-wrapper:after {top:0; left: -1000px;}
      #ua-web-branding-banner-v1.ua-wrapper:before,
      .ua-web-branding-banner-v1.ua-wrapper:before { top:0; right: -1000px;}
      html #ua-web-branding-banner-v1.bgDark .ua-home.asdf p,
      html .ua-web-branding-banner-v1.bgDark .ua-home.asdf p {background: url(images/ua_a_line_logo_white.png) no-repeat 0px 0px;margin: 5px 0px 3px;height: 34px;background-size: 100%;}

     
      #ua-web-branding-banner-v1 .ua-home.asdf,
      .ua-web-branding-banner-v1 .ua-home.asdf {display:inline-block;min-width: 353px;margin-left:  8px; }

      #ua-web-branding-banner-v1 .ua-home.asdf p,
      .ua-web-branding-banner-v1 .ua-home.asdf p {text-indent: -9999px;}
     
#ua-web-branding-banner-v1.blue, .ua-web-branding-banner-v1.blue {background-color:#002147;}

     #ua-web-branding-banner-v1.blue-grad.ua-wrapper:before,
     #ua-web-branding-banner-v1.blue-grad.ua-wrapper:after,      
     #ua-web-branding-banner-v1.blue-grad,
     .ua-web-branding-banner-v1.blue-grad.ua-wrapper:before,
     .ua-web-branding-banner-v1.blue-grad.ua-wrapper:after,      
     .ua-web-branding-banner-v1.blue-grad {
        background-color: rgb(97,131,166); 
       background-image: -moz-linear-gradient(top, rgba(97, 131, 166, 1) 0%, rgba(0, 33, 71, 1) 42px);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(97, 131, 166, 1)), color-stop(42px,rgba(0, 33, 71, 1)));
    background-image: -webkit-linear-gradient(top, rgba(97, 131, 166, 1) 0%,rgba(0, 33, 71, 1) 42px);
    background-image: -o-linear-gradient(top, rgba(97, 131, 166, 1) 0%,rgba(0, 33, 71, 1) 42px);
    background-image: -ms-linear-gradient(top, rgba(97, 131, 166, 1) 0%,rgba(0, 33, 71, 1) 42px);
    background-image: linear-gradient(to bottom, rgba(97, 131, 166, 1) 0%,rgba(0, 33, 71, 1) 42px);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6183a6', endColorstr='#002147',GradientType=0 );
    }
     /*
background-image: -moz-linear-gradient(top, rgba(97, 131, 166, 1) 0%, rgba(0, 33, 71, 1) 42px);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(97, 131, 166, 1)), color-stop(42px,rgba(0, 33, 71, 1)));
    background-image: -webkit-linear-gradient(top, rgba(97, 131, 166, 1) 0%,rgba(0, 33, 71, 1) 42px);
    background-image: -o-linear-gradient(top, rgba(97, 131, 166, 1) 0%,rgba(0, 33, 71, 1) 42px);
    background-image: -ms-linear-gradient(top, rgba(97, 131, 166, 1) 0%,rgba(0, 33, 71, 1) 42px);
    background-image: linear-gradient(to bottom, rgba(97, 131, 166, 1) 0%,rgba(0, 33, 71, 1) 42px);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6183a6', endColorstr='#002147',GradientType=0 );    
*/
#calslogo, .calslogo {float: right;background: url(images/cals.png) no-repeat 0 8px;margin-right: 10px;width: 165px;height: 32px;}
#calslogo p, .calslogo p {text-indent: -9999px;}

@media only screen and (min-width: 980px) {
      #ua-web-branding-banner-v1.ua-wrapper, 
      .ua-web-branding-banner-v1.ua-wrapper { height: 42px; }

      #ua-web-branding-banner-v1.ua-wrapper:before,
      #ua-web-branding-banner-v1.ua-wrapper:after,
      #ua-web-branding-banner-v1.ua-wrapper,
      .ua-web-branding-banner-v1.ua-wrapper:before,
      .ua-web-branding-banner-v1.ua-wrapper:after,
      .ua-web-branding-banner-v1.ua-wrapper {height: 42px;-webkit-background-size: 100% 42px;-moz-background-size: 100% 42px;background-size: 100% 42px;}

html #ua-web-branding-banner-v1.bgDark .ua-home.asdf p,
html .ua-web-branding-banner-v1.bgDark .ua-home.asdf p {background: url(images/ua_a_line_logo_white.png) no-repeat 0px 0px;margin: 5px 0px 0px;height: 34px;background-size: 100%;}

}


@media only screen and (max-width: 560px) {
    #calslogo, .calslogo {display: none;}
}

/* iPhone 4 and 4S */
@media only screen and (-webkit-min-device-pixel-ratio: 1.1), only screen and (min-device-pixel-ratio: 1.1){
  #ua-web-branding-banner-v1 .ua-home.asdf,
  .ua-web-branding-banner-v1 .ua-home.asdf {margin-left:  0px; }
      html #ua-web-branding-banner-v1.bgDark .ua-home.asdf p, 
      html .ua-web-branding-banner-v1.bgDark .ua-home.asdf p {background: url(images/ua_a_line_logo_white.svg) no-repeat 0px 4px;margin: 10px 10px 0px;height: 32px;background-size: 85%;}
}
/* iPhone 3 */
@media only screen and (-webkit-max-device-pixel-ratio: 1) and (min-width: 320px) and (max-width: 400px), only screen and (max-device-pixel-ratio: 1) and (min-width: 320px) and (max-width: 400px){
      #ua-web-branding-banner-v1 .ua-home.asdf,.ua-web-branding-banner-v1 .ua-home.asdf {margin-left:  0px; }
      #ua-web-branding-banner-v1 .ua-home.asdf p, .ua-web-branding-banner-v1 .ua-home.asdf p {max-width: 80%;}

      html #ua-web-branding-banner-v1.bgDark .ua-home.asdf p, html .ua-web-branding-banner-v1.bgDark .ua-home.asdf p {background: url(images/ua_a_line_logo_white.svg) no-repeat 0px 0px;margin: 8px 10px 4px 10px;height: 32px;background-size: 100%;}
}
/*Samsung Galaxy S3*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (min-width: 321px), only screen and (min-device-pixel-ratio: 1.5) and (min-width: 321px) {
      #ua-web-branding-banner-v1 .ua-home.asdf, .ua-web-branding-banner-v1 .ua-home.asdf {margin-left:  0px; }
      #ua-web-branding-banner-v1 .ua-home.asdf p, .ua-web-branding-banner-v1 .ua-home.asdf p {max-width: 80%;}
      html #ua-web-branding-banner-v1.bgDark .ua-home.asdf p, html .ua-web-branding-banner-v1.bgDark .ua-home.asdf p {background: url(images/ua_a_line_logo_white.svg) no-repeat 0px 0px;margin: 10px 20px 0px 10px;height: 32px;background-size: 100%;}
}
/*Smaller than 320px*/
@media only screen and (min-width: 100px) and (max-width: 320px) {
    #ua-web-branding-banner-v1 .ua-home.asdf, .ua-web-branding-banner-v1 .ua-home.asdf {margin-left: 0px;}

    #ua-web-branding-banner-v1 .ua-home.asdf p, .ua-web-branding-banner-v1 .ua-home.asdf p {max-width: 70%;}

    .ua wrapper { padding: 6px;}

    html #ua-web-branding-banner-v1.bgDark .ua-home.asdf p, html .ua-web-branding-banner-v1.bgDark .ua-home.asdf p {background: url(images/ua_a_line_logo_white.svg) no-repeat 0px 0px;margin: 8px 10px 0px 10px;height: 32px;background-size: 100%;}
}

/* MAIN CSS */

body {background-color: #193441;font-family: Helvetica, Arial, sans-serif;}

img {max-width: 100%;border:none;}
ul {-webkit-transform: translate3d(0,0,0);}
p {text-align:left;}

a:hover, a.ui-link:hover {color:#002147 !important;}

.uared {color:#AB0520;}
.uablue {color: #002147;}
.ltgrey { color: #cccccc; }

.center {text-align: center;}
.left {text-align:left;}
.justified {text-align: justify;}
.italic {font-style:italic;}
.bold {font-weight: bold;}
.floatright {float:right;}
.floatleft {float:left;}
.nowrap {white-space:nowrap;}
.wrap { white-space:normal;}

.content-contrain { max-width: 580px;margin-left:auto;margin-right:auto; }
img.diseasedialog { width: 100%;max-width: 468px;text-align:center;margin-left:auto;margin-right:auto; }
img.floatleft {padding-right: 10px;padding-bottom: 10px;}
#pagetitle, .pagetitle {font-weight: bold;color: #193441;font-size: 110%;}
#pagetitle div, .pagetitle div {color: #999999;font-size: 80%;}
.header-blocka {position: absolute;top: 0;left: 0;margin: 5px 5px 3px 10px;}
.footerlinks {font-weight: normal;font-size: 80%;padding: 10px;text-align: center;line-height:1.3em;}
.footerlinks a:hover {color:#AB0520 !important;}
.maxbtnwidth {max-width:468px;margin-left:auto;margin-right:auto;}
#optionspanel-popup, #optionspanel1-popup, #optionspanel2-popup, #optionspanel3-popup, #optionspanel4-popup {right: 0 !important;left: auto !important;}
#optionspanel, .optionspanel {width: 200px;border: 1px solid #000;border-right: none;background: rgba(0,0,0,.75);margin: -1px -20px -1px 0;padding: 15px;color: white;text-shadow: 0 1px 0 #333;}
#optionspanel .ui-btn, .optionspanel .ui-btn {margin: 2em 15px;}
.decision {font-size: 110%;font-weight: bold;}
.ui-li-thumb {top: 1px;}
.caption {font-weight:bold;}
.caption span {font-weight: normal;font-style: italic;}
.ui-controlgroup-label {font-weight:bold;font-size:110%;margin-bottom:5px;}
.ui-body-a, .ui-overlay-a {background-color: #193441;}
.ui-popup-screen {background-color: #000;   }
.ui-popup-container {margin-right: 20px;margin-top:20px;}
.decider {border: 1px solid #696050;-moz-border-radius: 12px;-webkit-border-radius: 12px; border-radius: 12px; -moz-box-shadow: 4px 4px 12px #999; -webkit-box-shadow: 4px 4px 12px #999; box-shadow: 4px 4px 12px #999; background: #bfb093;padding: 20px;}
.deciderprogress {color: #002147;font-weight: bold;text-align:left;}
    .deciderprogress hr { margin-bottom:20px; }
.gallery { list-style: none; padding: 0; margin: 0; }
.gallery:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
.gallery li { float: left; width: 33.33333333%; }
.gallery li a { display: block; margin: 5px; border: 1px solid #3c3c3c; }
.gallery li img { display: block; width: 100%; height: auto; }
.legend { padding-bottom: 5px; }
/*.ui-page {backface-visibility:hidden;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;overflow: hidden;}*//* fix flicker of transitions? */
.ui-navbar {overflow-x:hidden;}
.ui-content .ui-listview-inset {margin-left:auto;margin-right:auto;}
.ui-btn-inner { white-space:normal;}

@media only screen and (min-width: 768px) {
    .gallery li {width: 25%;}
}
@media only screen and (min-width: 100px) and (max-width: 420px) {
    .gallery li {width: 50%;}
}
div.pp_default .pp_nav {width: 80px;}
div.pp_default .pp_nav .currentTextHolder {left: 40px;}
.pp_social {float:none;text-align: center;}
.ui-bar-b {border-left:none;border-right:none;}
.ui-grid-b > :nth-child(n) {
    margin-right: -1px;
}

/* LOADING */

#loading img.startup { width: 100%;max-width:720px; }/*max-width:320px; max-height: 460px; // max-width:720px; max-height: 960px;*/
#loading #floating { position: absolute;top: 50px;width: 100%;text-align:center; }/*margin-top:5px;*/
#loading #loadingtext { width: 190px; margin: 0 auto;text-align:left;color: #ffffff;font-size: 2em;font-family: Verdana, Geneva, sans-serif;text-shadow: 2px 2px 2px #002147;}

@media screen and (min-width: 280px) {
    #loading #loadingtext { padding-left: 60px; }
    #loading #floating { top: 85px; }
}

@media screen and (min-width: 320px) {
    #loading #loadingtext { padding-left: 80px; }
    #loading #floating { top: 110px; } 
}

@media screen and (min-width: 420px) {
    #loading #loadingtext { padding-left: 80px; font-size: 3em; }
    #loading #floating { top: 130px; }
}

@media screen and (min-width: 500px) {
    #loading #loadingtext { padding-left: 80px; font-size: 4em; }
    #loading #floating { top: 150px; }
}

@media screen and (min-width: 700px) {
    #loading #loadingtext { padding-left: 0; font-size: 5em; }
    #loading #floating { top: 192px; }
}
        
#loading .event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

#loading .event.listening {
    background-color:#333333;
    display:block;
}

#loading .event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}